body{
  margin: 0; 
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  user-select: none;
}

/* Shared Section */
header,
section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

input[type="color"],
select,
section button{
  border: 2px solid white;
  background-color: white;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}

select option,
.block,
.value,
.box{
  cursor: pointer;
}

/* Header */
header{
  gap: 40px;
  padding: 0 2em;
}

header h1{
  margin: 0.6em 0 0 0;
  font-size: 3rem;
}

header p{
  margin: 0 0.5em 1.3em 0.5em;
  font-size: 1.5rem;
}


/* Color Picker Section */
main{
  max-width: 500px;
  padding: 0 0.6em;
  margin: auto;
}

main section{
  align-items: center;
  margin-bottom: 1.7em;
}

input[type="color"] {
  width: 50px;
  height: 40px;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: #DDD;
}

select{
  width: 155px;
  padding: 0.35em 0.4em 0.3em 0.1em;
  font-size: 1.2rem;
  margin: 0 0.5em;
}
select:hover{
  background-color: aliceblue;
}

section button{
  padding: 0.45em 0.5em 0.4em 0.5em;
  font-size: 1.1rem;
  text-align: center;
}
section button:focus,
section button:hover{
  background-color: #c9c7c7;
}
section button:active{
  background-color: white;
}

/* Color Schemes */
.schemes{
  display: flex;
  width: 100%;
  justify-content: center;
}
.outline{
  outline: 1px solid rgb(211, 210, 210);
}
.block{
  display: flex;
  height: 90px;
  width: 85%;
  box-sizing: border-box;
  background-color: white;
}
.block:focus,
.block:hover{
  border: 5px solid rgb(33, 33, 255);
}
.block:active{
  border: none;
}

.value{
  display: flex;
  writing-mode: vertical-lr;
  letter-spacing: 0;
  height: 90px;
  width: 10%;
  padding-top: 10px;
  padding-left: 10px;
  letter-spacing: 1px;
  background-color: white;
  box-sizing: border-box;
  vertical-align: center;
}
.box:hover{
  background-color: rgb(228, 228, 228);
}
.box:active{
  background-color: white;
}

/* @media */
@media (min-width: 480px){
  /* for picking */
  input[type="color"]{
    width: 60px;
    height: 48px;
  }
  select{
    width: 220px;
    padding: 0.6em 0.4em;
  }
  section button{
    padding: 0.7em 1.6em;
  }
  header h1{
    margin-top: 0.4em;
  }
  header p{
    margin: 0 0 1.2em 0;
  }

  /* for columns */
  .row-maker{
    display: flex;
    flex-direction: row;
  }
  .schemes{
    flex-direction: column;
  }
  .block{
    width: 100%;
    height: 350px;
  }
  .value{
    writing-mode: horizontal-tb;
    width: 100%;
    justify-content: center;
    margin: auto;
    letter-spacing: 1px;
    height: 40px;
    padding-left: 0;
  }
}